.bundle
db/*.sqlite3
db/clean/*
log/*.log
tmp/
.sass-cache/
.dropbox
public/assets/
edocs/*
recipes/public/
recipes/private/
.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
